body {
	margin: 20px;
}

h1, h4 {
	text-align: right;
	margin: 0px;

}

h3 {
	text-decoration: underline;
}

ul.position {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.tightBullets {
	margin-top: 0px;
}

li.jobTitle {
	font-weight: bold;
}

#footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

img {
	height: 48px;
	width: 48px;
}